<!-- <div id="vvm-subj">
vvmlist
</div> -->
<div id="vvm-state">
<img class="logoi" src="/assets/logo.png">
<br>
<br>
<a><b>v</b></a>ulnerable<a><b>v</b></a>irtual<a><b>m</b></a>achine<a><b>list</b></a> is a list of vulnerable vms with their attributes.
<br>
<br>
usage is easy. you can search vulnerable vm by name, select tag or search [vm]+[tag].
<br>
<br>
site is directly cloned from <a href="https://gtfobins.github.io/">gtfobins</a> <a href="https://github.com/GTFOBins/GTFOBins.github.io">repo</a> so majority of the credits goes for them. i only made small changes and filled with my own data.
<br>
<br>
<br>
<br>
work in progress.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="changelog.txt">changelog</a> / <a href="license.txt">license</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="pranked!!! cringe!!!">contact: maiden's tower/uskudar</a>
<br><!-- &emsp; -->
<br>
<hr>
</div>
<!-- +++++ ++++[ ->+++ +++++ +<]>+ +++++ +++++ +++++ ++.<+ ++[-> +++<] >+++.
-.+++ +++.< ++++[ ->--- -<]>- --.++ .<+++ +[->+ +++<] >+.<+ +++++ +[->-
----- -<]>- ----- ---.< +++++ [->-- ---<] >-.<+ +++++ +++[- >++++ +++++
<]>++ +++.< ++++[ ->--- -<]>- ----. <++++ [->++ ++<]> ++++. ----- ----.
+++++ +++.< +++++ +++[- >---- ----< ]>--- .++.< +++++ +[->+ +++++ <]>++
+++++ +.+++ +++.< +++[- >+++< ]>+++ ++.<+ +++[- >---- <]>.- -.<++ +[->+
++<]> +++++ +.<++ +[->- --<]> --.-- ----. <++++ [->++ ++<]> ++++. <+++[
->--- <]>-- ---.< +++[- >+++< ]>+++ +.+++ +.<++ +[->- --<]> ----. -----
-.++. <+++[ ->--- <]>-. +++++ +.<++ ++[-> ++++< ]>+++ .<+++ +[->- ---<]
>---- ---.< ++++[ ->+++ +<]>+ +.+++ +++.- .---- ----. +++.. ----. <++++
+++[- >---- ---<] >---- ----- ---.< +++++ ++[-> +++++ ++<]> ++++. <+++[
->+++ <]>++ +.--. <++++ +++++ [->-- ----- --<]> ----- ----- ----- .---.
<++++ +[->+ ++++< ]>+++ ++.<+ +++++ +++[- >++++ +++++ <]>.< ++++[ ->---
-<]>- ---.< +++[- >+++< ]>+++ ++.<+ +++++ ++[-> ----- ---<] >---- ---.<
+++[- >---< ]>--- .<+++ +++++ [->++ +++++ +<]>+ +++++ +++.< +++[- >+++<
]>++. <++++ ++++[ ->--- ----- <]>-- ----- ----- -.<++ +++++ +[->+ +++++
++<]> +++++ +++++ ++.<+ +++++ +++[- >---- ----- <]>-- .<+++ +++++ [->++
+++++ +<]>+ .<+++ [->++ +<]>+ +++.< +++++ +++[- >---- ----< ]>--- -----
----- -.<++ +++++ +[->+ +++++ ++<]> +.<++ +[->+ ++<]> ++.++ +++++ +.<++
+++++ ++[-> ----- ----< ]>--- .<+++ +++++ [->++ +++++ +<]>+ +++++ +++++
++.<+ ++[-> ---<] >---. +++++ +++.+ ++.<+ +++++ ++[-> ----- ---<] >---. < -->
