<div class="toggled"><a href="#" onclick="setActiveStyleSheet('regular'); return false;">🌑 dark mode</a></div>
<div class="togglel"><a href="#" onclick="setActiveStyleSheet('light'); return false;">☀️ light mode</a></div>
<div id="vvm-state">
<img class="logoi" src="/assets/logo.png">
<img class="logol" src="/assets/log3ol.png">
<br>
<a><b>v</b></a>ulnerable<a><b>v</b></a>irtual<a><b>m</b></a>achine<a><b>list</b></a> is a list of vulnerable vms with key techniques used on them to solve.
<br>
<br>
usage is easy:<br>> search a vulnerable vm by <a>name</a><br>> select a <a>tag</a><br>> you can chain tags in search bar like <a href="#+vulnhub +insane">+vulnhub +insane</a> or <a href="#+buffer overflow +rce +suid">+buffer overflow +rce +suid</a><br>> you can jump between machine description tags (the small ones)
<br>
<br>
<br>
<div class="cinfo"><a href="changelog.txt" target="_blank">changelog</a>—<a href="LICENSE" target="_blank">license</a>—<a href="contact.html" target="_blank">contact</a></div>
<br>
<hr>
</div>
<a href="#" class="bttop">⬆️ back to top</a>