<!-- <div id="vvm-subj">
vvmlist
</div> -->
<div id="vvm-state">
<img class="logoi" src="/assets/logo.png">
<br>
<a><b>v</b></a>ulnerable<a><b>v</b></a>irtual<a><b>m</b></a>achine<a><b>list</b></a> is a list of vulnerable vms with their attributes.
<br>
<br>
usage is easy:<br>> search vulnerable vm by <a>name</a><br>> select a <a>tag</a><br>> you can also chain tags in search bar like <a>+vulnhub +easy</a> or <a>+smb +kernel exploit +rce</a>
<br>
<br>
site is directly cloned from <a href="https://gtfobins.github.io/">gtfobins</a> <a href="https://github.com/GTFOBins/GTFOBins.github.io">repo</a> so majority of the credits goes for them.<br>i only made small changes and filled with my own data.<br>
<span class="cinfo"><a href="changelog.txt">changelog</a>—<a href="license.txt">license</a>—<a href="contact.html">contact</a></span>
<br>
<hr>
</div>
