---
---
@font-face {
    font-family: Segoe;
    src: url('segoeui.ttf');
}


$marked: #928d81;
$font: 'Segoe';
$myblue: #dbd4c2;
$lighter: #f4ecd8;
$purpie: #00ffa7;
$accent: #000000;

// disable diffis and platfs from main taglist

#bin-search-filters-dif > li:nth-child(1) {
	display: none;
	}
	
#bin-search-filters > li:nth-child(3),
#bin-search-filters > li:nth-child(4),
#bin-search-filters > li:nth-child(5),
#bin-search-filters > li:nth-child(6),
#bin-search-filters > li:nth-child(7),
#bin-search-filters > li:nth-child(8),
#bin-search-filters > li:nth-child(9),
#bin-search-filters > li:nth-child(10),
#bin-search-filters > li:nth-child(11),
// vuln list display none
#bin-search-filters > li:nth-child(13),
#bin-search-filters > li:nth-child(14),
#bin-search-filters > li:nth-child(15),
#bin-search-filters > li:nth-child(17),
#bin-search-filters > li:nth-child(18),
#bin-search-filters > li:nth-child(19),
#bin-search-filters > li:nth-child(20),
#bin-search-filters > li:nth-child(21),
#bin-search-filters > li:nth-child(22),
#bin-search-filters > li:nth-child(23),
#bin-search-filters > li:nth-child(24),
#bin-search-filters > li:nth-child(26),
#bin-search-filters > li:nth-child(28),
#bin-search-filters > li:nth-child(29),
#bin-search-filters > li:nth-child(30),
#bin-search-filters > li:nth-child(31),
#bin-search-filters > li:nth-child(32),
#bin-search-filters > li:nth-child(33),
#bin-search-filters > li:nth-child(34),
#bin-search-filters > li:nth-child(35),
#bin-search-filters > li:nth-child(36),
#bin-search-filters > li:nth-child(37),
#bin-search-filters > li:nth-child(38),
#bin-search-filters > li:nth-child(39),
#bin-search-filters > li:nth-child(41),
#bin-search-filters > li:nth-child(42),
#bin-search-filters > li:nth-child(43),
#bin-search-filters > li:nth-child(48),
#bin-search-filters > li:nth-child(49),
#bin-search-filters > li:nth-child(51),
#bin-search-filters > li:nth-child(53),
#bin-search-filters > li:nth-child(54),
#bin-search-filters > li:nth-child(55),
#bin-search-filters > li:nth-child(56),
#bin-search-filters > li:nth-child(58),
#bin-search-filters > li:nth-child(59),
#bin-search-filters > li:nth-child(61),
#bin-search-filters > li:nth-child(63),
#bin-search-filters > li:nth-child(65),
#bin-search-filters > li:nth-child(67),
#bin-search-filters > li:nth-child(70),
#bin-search-filters > li:nth-child(72),
#bin-search-filters > li:nth-child(73),
#bin-search-filters > li:nth-child(74),
#bin-search-filters > li:nth-child(75),
#bin-search-filters > li:nth-child(76),
#bin-search-filters > li:nth-child(77),
#bin-search-filters > li:nth-child(78),
#bin-search-filters > li:nth-child(79),
#bin-search-filters > li:nth-child(80),
#bin-search-filters > li:nth-child(81),
#bin-search-filters > li:nth-child(82),
#bin-search-filters > li:nth-child(83),
#bin-search-filters > li:nth-child(85),
#bin-search-filters > li:nth-child(86),
#bin-search-filters > li:nth-child(87),
#bin-search-filters > li:nth-child(88),
#bin-search-filters > li:nth-child(89),
#bin-search-filters > li:nth-child(90),
#bin-search-filters > li:nth-child(92),
#bin-search-filters > li:nth-child(94),
#bin-search-filters > li:nth-child(95),
#bin-search-filters > li:nth-child(96),
#bin-search-filters > li:nth-child(97),
#bin-search-filters > li:nth-child(98),
#bin-search-filters > li:nth-child(99),
#bin-search-filters > li:nth-child(100),
#bin-search-filters > li:nth-child(101),
#bin-search-filters > li:nth-child(103),
#bin-search-filters > li:nth-child(105),
#bin-search-filters > li:nth-child(106),
#bin-search-filters > li:nth-child(107),
#bin-search-filters > li:nth-child(108),
#bin-search-filters > li:nth-child(109),
#bin-search-filters > li:nth-child(110),
#bin-search-filters > li:nth-child(111),
#bin-search-filters > li:nth-child(113),
#bin-search-filters > li:nth-child(114),
#bin-search-filters > li:nth-child(115),
#bin-search-filters > li:nth-child(116),
#bin-search-filters > li:nth-child(117),
#bin-search-filters > li:nth-child(119),
#bin-search-filters > li:nth-child(120),
#bin-search-filters > li:nth-child(121),
#bin-search-filters > li:nth-child(123),
#bin-search-filters > li:nth-child(124),
#bin-search-filters > li:nth-child(125),
#bin-search-filters > li:nth-child(126),
#bin-search-filters > li:nth-child(127),
#bin-search-filters > li:nth-child(128),
#bin-search-filters > li:nth-child(129),
#bin-search-filters > li:nth-child(131),
#bin-search-filters > li:nth-child(132),
#bin-search-filters > li:nth-child(134),
#bin-search-filters > li:nth-child(135),
#bin-search-filters > li:nth-child(136),
#bin-search-filters > li:nth-child(137),
#bin-search-filters > li:nth-child(138),
#bin-search-filters > li:nth-child(139),
#bin-search-filters > li:nth-child(140),
#bin-search-filters > li:nth-child(141),
#bin-search-filters > li:nth-child(142),
#bin-search-filters > li:nth-child(143),
#bin-search-filters > li:nth-child(144),
#bin-search-filters > li:nth-child(145),
#bin-search-filters > li:nth-child(146),
#bin-search-filters > li:nth-child(147),
#bin-search-filters > li:nth-child(149),
#bin-search-filters > li:nth-child(151),
#bin-search-filters > li:nth-child(152),
#bin-search-filters > li:nth-child(153),
#bin-search-filters > li:nth-child(154),
#bin-search-filters > li:nth-child(155),
#bin-search-filters > li:nth-child(156),
#bin-search-filters > li:nth-child(157),
#bin-search-filters > li:nth-child(158),
#bin-search-filters > li:nth-child(159),
#bin-search-filters > li:nth-child(162),
#bin-search-filters > li:nth-child(163),
#bin-search-filters > li:nth-child(164),
#bin-search-filters > li:nth-child(165),
#bin-search-filters > li:nth-child(167),
#bin-search-filters > li:nth-child(168),
#bin-search-filters > li:nth-child(169),
#bin-search-filters > li:nth-child(171),
#bin-search-filters > li:nth-child(172),
#bin-search-filters > li:nth-child(173),
#bin-search-filters > li:nth-child(174),
#bin-search-filters > li:nth-child(175),
#bin-search-filters > li:nth-child(177),
#bin-search-filters > li:nth-child(178),
#bin-search-filters > li:nth-child(179),
#bin-search-filters > li:nth-child(180),
#bin-search-filters > li:nth-child(181),
#bin-search-filters > li:nth-child(185),
#bin-search-filters > li:nth-child(186),
#bin-search-filters > li:nth-child(187),
#bin-search-filters > li:nth-child(188),
#bin-search-filters > li:nth-child(191),
#bin-search-filters > li:nth-child(192),
#bin-search-filters > li:nth-child(193),
#bin-search-filters > li:nth-child(194),
#bin-search-filters > li:nth-child(195),
#bin-search-filters > li:nth-child(196),
#bin-search-filters > li:nth-child(197),
#bin-search-filters > li:nth-child(198),
#bin-search-filters > li:nth-child(199),
#bin-search-filters > li:nth-child(201),
#bin-search-filters > li:nth-child(202),
#bin-search-filters > li:nth-child(203),
#bin-search-filters > li:nth-child(204),
#bin-search-filters > li:nth-child(205),
#bin-search-filters > li:nth-child(206),
#bin-search-filters > li:nth-child(209),
#bin-search-filters > li:nth-child(211),
#bin-search-filters > li:nth-child(213),
#bin-search-filters > li:nth-child(214),
#bin-search-filters > li:nth-child(215),
#bin-search-filters > li:nth-child(219),
#bin-search-filters > li:nth-child(222),
#bin-search-filters > li:nth-child(223),
#bin-search-filters > li:nth-child(224),
#bin-search-filters > li:nth-child(225),
#bin-search-filters > li:nth-child(227),
#bin-search-filters > li:nth-child(228),
#bin-search-filters > li:nth-child(229),
#bin-search-filters > li:nth-child(230),
#bin-search-filters > li:nth-child(231),
#bin-search-filters > li:nth-child(232),
#bin-search-filters > li:nth-child(233),
#bin-search-filters > li:nth-child(234),
#bin-search-filters > li:nth-child(235),
#bin-search-filters > li:nth-child(236),
#bin-search-filters > li:nth-child(238),
#bin-search-filters > li:nth-child(239),
#bin-search-filters > li:nth-child(240),
#bin-search-filters > li:nth-child(241),
#bin-search-filters > li:nth-child(243),
#bin-search-filters > li:nth-child(244),
#bin-search-filters > li:nth-child(245),
#bin-search-filters > li:nth-child(246),
#bin-search-filters > li:nth-child(247),
#bin-search-filters > li:nth-child(248),
#bin-search-filters > li:nth-child(249),
#bin-search-filters > li:nth-child(250),
#bin-search-filters > li:nth-child(251),
#bin-search-filters > li:nth-child(252),
#bin-search-filters > li:nth-child(253),
#bin-search-filters > li:nth-child(254),
#bin-search-filters > li:nth-child(257),
#bin-search-filters > li:nth-child(258)

	{
	display: none;
	}

// disable diffis and platfs from sub taglist

#bin-table > tbody:nth-child(2) > tr > td:nth-child(4) > ul:nth-child(1) > li:nth-child(2),
#bin-table > tbody:nth-child(2) > tr > td:nth-child(4) > ul:nth-child(1) > li:nth-child(3) {
	display: none;
	}

.bttop {
	text-decoration: none;
	position: fixed;
	left: 30px;
	bottom: 30px;
	color: $accent;
	background: $lighter;
    font-size: initial;
    border-radius: 0.25em;
	display: inline-block;
	padding: 2px 2px;
	margin: 0px 0;
	text-decoration: none;    
	}

.newicon {
    padding: 0 !important; 
    margin: 0 !important;
	border: 0px !important;
	padding-bottom: 11px !important;
    padding-top: 11px !important;
		}

//css mode switch
.toggled {
    width: 104px;
	position: relative;
	top: -58px;
	left: 892.667px;
	border: none;
	a {text-decoration: none;}
}

.togglel {
	position: relative;
    float: left;
	top: -58px;
	left: 892.667px;
	border: none;
	display: none;
	}

// layout

$column-width: 1000px;
$grace-space: 200px;
$layout-break: "(min-width: #{$column-width + $grace-space})";

@media #{$layout-break} {
    body {
        width: $column-width;
        margin: 40px auto;
    }

    p {
        text-align: justify;
    }
}

@media not all and #{$layout-break} {
    .github-corner {
        display: none;
    }
}

.logol {
    $margin: 20px;
    float: right;
    width: 200px;
    height: 200px;
    margin-left: $margin;
    margin-bottom: $margin;
}

// walkthrough list padding

.wal-list li {

padding-right: 10px;

}

.logoi {
	display: none;
}

.cinfo {
    position: relative;
    float: left;
    left: 782.033px;
    border: none;
}



// common tags

body {
    font-family: $font;
	background: $myblue;
	color: $accent;
}

code {
    padding: 0.15em 0.25em;
    border-radius: 0.25em;
    color: $accent;
    background: $lighter;
}

pre {
    background: $lighter;
    padding: 1em;
    overflow-x: auto;

    code {
        padding: 0;
        border-radius: 0;
    }
}

a:link, a:visited {
	
    color: $accent;
}

a:hover {
    color: $purpie;
	background-color: $marked;
}

// permalink on headings

h2, h3, h4, h5, h5 {
    .permalink {
        margin-left: 5px;
        text-decoration: none;
        visibility: hidden;

        &::before {
            content: "#";
        }
    }

    &:target {
        border-left: 5px solid $accent;
        padding-left: 5px;
    }

    &:hover {
        .permalink {
            visibility: visible;
        }
    }
}

#vvm-state {
    a {
		color: $accent;
		background: $lighter;
        font-size: initial;
        border-radius: 0.25em;
		display: inline-block;
		padding: 2px 2px;
		margin: 0px 0;
		text-decoration: none;
    }
	a:hover {
    color: $purpie;
	background-color: $marked;
			}
	}

// binary list and search

#bin-search-wrapper {
    margin: 50px 0;
    padding: 10px 0;
    position: relative; // XXX needed for tooltip sizing

	#bin-search-filters-dif {
        text-align: center;
		
        a {
            background: $lighter;
            font-size: initial;
            border-radius: 0.25em;

            &:before {
                display: none;
            }
			&:hover {
				background-color: $marked;
				}
        }
    }
	
	#bin-search-filters-pla {
        text-align: center;
		
        a {
            background: $lighter;
            font-size: initial;
            border-radius: 0.25em;

            &:before {
                display: none;
            }
			&:hover {
				background-color: $marked;
				}
        }
    }

    #bin-search-filters {
        text-align: center;

        a {
            background: $lighter;
            font-size: initial;
            border-radius: 0.25em;

            &:hover:before {
                content: attr(data-title);
    		position: absolute;

    		top: -50px;  /* Move the tooltip above the element */
   		left: 50%;  /* Position it in the middle horizontally */
    		transform: translateX(-50%); /* Center it horizontally by adjusting its width */
  
    		display: inline-block;
    		padding: 0.25em 0.5em;
    		margin: 0.2em 0;
    		border: 1px solid $purpie;
    		border-radius: 0.25em;
    		background-color: #928d81;
    		color: $purpie;

            }
        }
    }

    #bin-search {
        margin-top: 25px;
        padding: 1em;
        font-size: 1rem;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $accent;
        outline-color: $accent;
		background-color: $lighter;
		color: $accent;
    }
}

td.vvm-name {
     width: 180px;
    }
	
td.vvm-diffi, td.vvm-platf, td.vvm-curl, td.vvm-wal {
     text-align: center;
    }

#bin-table {
    width: 100%;

    th, td {
        padding: 0.2em 1em;
		border-right: 1px solid $lighter;
		border-bottom: 1px solid $lighter;
    }

    th {
        text-align: left;
    }

    tbody tr:hover {
        background: $lighter;
    }

    #search-message {
        display: none;
        text-align: center;
        padding: 1em;
    }
}

// function description

.function-list {
    font-size: 0.85rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        a {
            display: inline-block;
            padding: 0.25em 0.5em;
            margin: 0.2em 0;
            border: 1px solid $accent;
        }

        a:link, a:visited {
            color: $accent;
            text-decoration: none;
        }

        a:hover {
            color: $purpie;
            border-color: $purpie;
        }

        &.match a {
            background: $marked;
        }
    }
}

// diffi description

.diffi-list {
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;

        a {
            display: inline-block;
            padding: 0.25em 0.5em;
            margin: 0.2em 0;
            border: 1px solid $accent;
        }

        a:link, a:visited {
            color: $accent;
            text-decoration: none;
        }

        a:hover {
            color: $purpie;
            border-color: $purpie;
        }

        &.match a {
            background: $marked;
        }
    }
}

// platf description

.platf-list {
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;

        a {
            display: inline-block;
            padding: 0.25em 0.5em;
            margin: 0.2em 0;
            border: 1px solid $accent;
        }

        a:link, a:visited {
            color: $accent;
            text-decoration: none;
        }

        a:hover {
            color: $purpie;
            border-color: $purpie;
        }

        &.match a {
            background: $marked;
        }
    }
}

// curl description

.curl-list {
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;

        a {
            display: inline-block;
            padding: 0.25em 0.5em;
            margin: 0.2em 0;
            border: 1px solid $accent;
        }

        a:link, a:visited {
            color: $accent;
            text-decoration: none;
        }

        a:hover {
            color: $purpie;
            border-color: $purpie;
        }

        &.match a {
            background: $marked;
        }
    }
}

// wal description

.wal-list {
    font-size: 0.85rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        a {
            display: inline-block;
            padding: 0.25em 0.5em;
            margin: 0.2em 0;
            border: 1px solid $accent;
        }

        a:link, a:visited {
            color: $accent;
            text-decoration: none;
        }

        a:hover {
            color: $purpie;
            border-color: $purpie;
        }

        &.match a {
            background: $marked;
        }
    }
}

// bin examples

.examples {
    display: table;
    width: 100%;
    table-layout: fixed;
    counter-reset: item;
    margin: 0;
    padding: 0;

    li {
        display: table-row;

        &:not(:only-child):before {
            display: table-cell;
            font-size: 0.8rem;
            font-weight: bold;
            width: 3em;
            text-align: center;
            counter-increment: item;
            content: "(" counter(item, lower-alpha) ")";
        }
    }
}

// other classes

.logo {
    $margin: 20px;
    float: right;
    width: 100px;
    height: 100px;
    margin-left: $margin;
    margin-bottom: $margin;
}

.bin-name {
	display: inline-block;
    font-family: $font;
    font-size: 1.2rem;
	margin-top: 3px;
	margin-bottom: 3px;
}

.function-name {
    font-size: 1.4rem;
    font-weight: bold;
}

.github-buttons {
    display: inline-block;
    margin-left: 10px;

    // avoid displaying the link text during loading
    a.github-button {
        visibility: hidden;
    }
}
