<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="title" property="og:title" content="vvmlist">
        <meta name="image" property="og:image" content="https://raw.githubusercontent.com/vvmlist/vvmlist.github.io/refs/heads/main/assets/li.jpg">
        <title>
            {% if page.url != '/' %}
            {% if page.layout == 'bin' %}
            {{ page.title | downcase }}
            {% else %}
            {{ page.title }}
            {% endif %}
            |
            {% endif %}
            {{ site.title }}
        </title>
        <link rel="icon" href="/assets/logo.png">
        <link rel="stylesheet" href="/assets/style.css" type="text/css" title="regular"/>
		<link rel="stylesheet" href="/assets/stylelight.css" type="text/css" title="light"/>
		<script type="text/javascript" src="/assets/styleswitcher.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    </head>
    <body>
        {{ content }}

    </body>
</html>